.account {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
  color: #333;
  padding: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;
  gap: 0.4rem;
}

.accountName {
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-all;
}

.network {
  font-size: 0.8rem;
  margin: 0;
  opacity: 0.6;
}

.accountBalanceWrapper {
  margin: 0 0 0 1rem;
  flex: 1;
  min-width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.accountBalance {
  font-size: 1.5rem;
  margin: 0;
}

.accountUsd {
  margin: 0.5rem 0 0;
  opacity: 0.6;
}

.toast {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -5%;
  top: -20%;
  padding: 0.5rem;
  z-index: 1;
  background: var(--green);
  color: white;
  border-radius: var(--border-radius);
  rotate: -10deg;
  transition: opacity 0.5s;
}

.toastVisible {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 700px) {
  .account {
    padding: 1rem;
  }

  .accountBalance {
    font-size: 1.2rem;
  }
}