@font-face {
  font-family: 'Heming';
  font-style: normal;
  font-weight: normal;
  src: local('Heming'), url('/Heming.woff2') format('woff2');
}

:root {
  --max-width: 980px;
  --border-radius: 8px;
  --card-border-radius: 16px;
  --black: #101010;
  --white: #f4f4f4;
  --grey: #212121;
  --green: #45ae6b;
  --red: #e57373;
  --background: #101010;
  --primary1: 238, 179, 122;
  --primary2: 244, 168, 55;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Heming', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  color: var(--black);
}

a {
  color: inherit;
}

button {
  font-size: 1rem;
  background-image: linear-gradient(to right, rgba(var(--primary1), 1) 0%, rgba(var(--primary2), 1) 100%);
  padding: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 0.8;
}

button.secondary {
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

select {
  cursor: pointer;
}

.spinner {
  display: none;
  width: 20px;
  height: 20px;
  border: 3px solid var(--black);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading .swap-button-text {
  display: none;
}

.loading .spinner {
  display: flex;
}